<section>
    <div class="items">
        <div class="card-photo">
            <img src="<%= car.img %>" alt="">
        </div>
        <div class="card-content">
            <div class="text">
                <span class="item-name"> <%= car.name %><img src="/assets/png-icons/info.png" alt=""></span>
                <p class="sub-text">or similar <%= car.carType %></p>
                <div class="specs-list-container">
                    <p class="specs"><img src="/assets/png-icons/user.png" alt=""><%= car.capacity %></p>
                    <p class="specs"><img src="/assets/png-icons/briefcase.png" alt=""><%= car.bag %></p>
                    <p class="specs"><img src="/assets/png-icons/car-door.png" alt=""><%= car.doors %></p>
                    <p class="specs"><img src="/assets/png-icons/gearbox.png" alt=""><%= car.transmission %></p>
                    <p class="specs"><img src="/assets/png-icons/snowflake.png" alt="">
                        <% if(car.ac == true){ %>
                            A/C
                        <% } else { %>
                            None
                        <%  } %>
                        </p>
                </div>
                <div class="locations">
                    <div class="pick-up">
                        <p><img src="/assets/png-icons/building.png" alt=""><%= car.pickUpLocation %></p>
                    </div>
                    <div class="drop-off">
                        <p><img src="/assets/png-icons/building.png" alt=""><%= car.dropOffLocation%></p>
                    </div> 
                </div>
                <div class="line-horizontal"></div><!-- Line only -->
                <div class="tooltips">
                    <div class="tooltip left">
                        <p class="tooltip sub-text"><i class='bx bx-check'></i>Free cancellation (48h)</p>
                        <p class="tooltip sub-text"><i class='bx bx-check'></i>Fuel policy: same-to-same</p>
                        <p class="tooltip sub-text"><i class='bx bx-check'></i>Unlimited mileage included</p>
                    </div>
                    <div class="tooltip right">
                        <p class="tooltip sub-text"><i class='bx bx-check'></i>Collision damage waiver</p>
                        <p class="tooltip sub-text"><i class='bx bx-check'></i>Third party coverage</p>
                        <p class="tooltip sub-text"><i class='bx bx-check'></i>Theft protection waiver</p>
                    </div>
                </div>
            </div>
</section>