<!-- Catalog Container -->
<section class="catalog-section">
    <div class="catalog-container">
        <!-- Filter container -->
        <div class="filter-container">
            <form id="filter" method="GET">
            <div class="title filters">
                <h4 class="results-text"><%= dataCount %> result(s)</h4>
                <h4 class="search-filter-title"><i class='bx bxs-filter-alt' ></i>Search Filters</h4>
                </div>
                
            <div class="car-type filters">
                <h4>Car Type</h4>
                
                <label class="mcui-checkbox">
                    <input type="checkbox" id="suvCheckbox" value="SUV" <%= query.carType.includes('SUV') ? 'checked' : '' %> name="carTypeFilter">
                    <div>
                    <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                        <title>checkmark-circle</title>
                        <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                    </svg>
                    </div>
                    <div>SUV</div>
                </label>
                
                <label class="mcui-checkbox">
                    <input type="checkbox" id="sedanCheckbox" value="Sedan" <%= query.carType.includes('Sedan') ? 'checked' : '' %> name="carTypeFilter" >
                    <div>
                    <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                        <title>checkmark-circle</title>
                        <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                    </svg>
                    </div>
                    <div>Sedan</div>
                </label>              
            </div>
    
            <!-- <div class="capacity filters">
                <h4>Capacity</h4>
                <label class="mcui-checkbox">
                    <input type="checkbox" checked>
                    <div>
                    <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                        <title>checkmark-circle</title>
                        <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                    </svg>
                    </div>
                    <div>3 to 5 passengers</div>
                </label> 
                <label class="mcui-checkbox">
                    <input type="checkbox" checked>
                    <div>
                    <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                        <title>checkmark-circle</title>
                        <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                    </svg>
                    </div>
                    <div>6 or more</div>
                </label> 
            </div> -->
    
            <div class="car-options filters">
                <h4>Car Options</h4>
                <!-- <label class="mcui-checkbox">
                    <input type="checkbox" checked>
                    <div>
                    <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                        <title>checkmark-circle</title>
                        <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                    </svg>
                    </div>
                    <div>4+ doors</div>
                </label>  -->
                <label class="mcui-checkbox">
                    <input type="checkbox" id="acCheckbox" value="ac" <%= query.ac === 'true' ? 'checked' : '' %>>
                    <div>
                    <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                        <title>checkmark-circle</title>
                        <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                    </svg>
                    </div>
                    <div>A/C</div>
                </label> 
                <label class="mcui-checkbox">
                    <input type="checkbox" id="transmissionCheckbox" value="transmission" <%= query.transmission === 'A' ? 'checked' : '' %>>
                    <div>
                    <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                        <title>checkmark-circle</title>
                        <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                    </svg>
                    </div>
                    <div>Automaic</div>
                </label> 
                <div class="filters filter-btn"><button type="submit" class="show-results">Show Results</button></div>
                
            </div>
            </form>
        </div>
        
        <!-- Search container -->
        <div class="cars-catalog-container">
            <div class="search-container">
                    <form id="bookingForm" action="/catalog/cars">
                        <!-- Select Car Type -->
                        <select id="carType" class="carType" name="carType">
                            <option value="default" <%= query.carType === "" ? 'selected' : '' %>>Select Car type</option>
                            <option value="Sedan"<%= query.carType === "Sedan" ? 'selected' : '' %>>Sedan</option>
                            <option value="SUV"<%= query.carType === "SUV" ? 'selected' : '' %>>SUV</option>
                        </select>
                        
                        
        

                        <!-- Select Pick Up Location -->
                        <select id="pickupLocation" class="select-loc" name="pickUpLocationCity">
                            <option value="default"<%= query.dropOffLocationCity === "" ? 'selected' : '' %>>Select pick up location</option>
                            <option value="Manila"<%= query.pickUpLocationCity === "Manila" ? 'selected' : '' %>>Manila</option>
                            <option value="Quezon City"<%= query.pickUpLocationCity === "Quezon City" ? 'selected' : '' %>>Quezon City</option>
                            <option value="Pampanga City"<%= query.pickUpLocationCity === "Pampanga City" ? 'selected' : '' %>>Pampanga City</option>
                            <option value="Batangas City"<%= query.pickUpLocationCity === "Batangas City" ? 'selected' : '' %>>Batangas City</option>
                            <option value="Baguio City"<%= query.pickUpLocationCity === "Baguio City" ? 'selected' : '' %>>Baguio City</option>
                        </select>
        
                        <!-- Drop off date -->

        
        
                        <!-- Select Drop Off Location -->
                       
                        <select id="dropoffLocation" class="select-loc" name="dropOffLocationCity">
                            <option value="default"<%= query.dropOffLocationCity === "" ? 'selected' : '' %>>Select pick up location</option>
                            <option value="Manila"<%= query.dropOffLocationCity === "Manila" ? 'selected' : '' %>>Manila</option>
                            <option value="Quezon City"<%= query.dropOffLocationCity === "Quezon City" ? 'selected' : '' %>>Quezon City</option>
                            <option value="Pampanga City"<%= query.dropOffLocationCity === "Pampanga City" ? 'selected' : '' %>>Pampanga City</option>
                            <option value="Batangas City"<%= query.dropOffLocationCity === "Batangas City" ? 'selected' : '' %>>Batangas City</option>
                            <option value="Baguio City"<%= query.dropOffLocationCity === "Baguio City" ? 'selected' : '' %>>Baguio City</option>
                        </select>  
                        <input type="date" id="pickupDate" name="pickUpDate" value="<%= query.pickUpDate || '' %>">
                        <input type="date" id="dropoffDate" name="dropOffDate" value="<%= query.dropOffDate || '' %>">
                        
                        
                        <!-- Additional Query Parameters (Hidden Inputs) -->
                        <input type="hidden" name="ac" value="true">
                        <input type="hidden" name="transmission" value="A">
                        
                        <!-- Search Button -->
                        <button type="submit" class="search-btn-icon">
                            <i class='bx bx-search' ></i>
                        </button>
   
                </form>
            </div>

            <!-- For each item -->
            <% cars.forEach(function(car, index) { %>
            <div class="items">
                <div class="card-photo">
                    <img src="<%= car.img %>" alt="">
                </div>
                <div class="card-content">
                    <div class="text">
                        <span class="item-name"> <%= car.name %><img src="/assets/png-icons/info.png" alt=""></span>
                        <p class="sub-text">or similar <%= car.carType %></p>
                        <div class="specs-list-container">
                            <p class="specs"><img src="/assets/png-icons/user.png" alt=""><%= car.capacity %></p>
                            <p class="specs"><img src="/assets/png-icons/briefcase.png" alt=""><%= car.bag %></p>
                            <p class="specs"><img src="/assets/png-icons/car-door.png" alt=""><%= car.doors %></p>
                            <p class="specs"><img src="/assets/png-icons/gearbox.png" alt=""><%= car.transmission %></p>
                            <p class="specs"><img src="/assets/png-icons/snowflake.png" alt="">
                                <% if(car.ac == true){ %>
                                    A/C
                                <% } else { %>
                                    None
                                <%  } %>
                                </p>
                        </div>
                        <div class="line-horizontal"></div>
                        <div class="locations">
                            <div class="pick-up">
                                <p><img src="/assets/png-icons/building.png" alt=""><%= car.pickUpLocation %></p>
                            </div>
                            <div class="drop-off">
                                <p><img src="/assets/png-icons/building.png" alt=""><%= car.dropOffLocation%></p>
                            </div> 
                        </div>
                    </div>

                    

                    <div class="line-vertical"></div><!-- Line only -->
                    <div class="total-book">
                        <div class="price">
                            <span id="formattedPrice">  <%= car.totalCarRentalPrice %> </span>
                            <p class="sub-text">Total</p>
                        </div>
                        <a href="/catalog/book/<%= car._id %>" type="button">Book Now</a>
                    </div>
                </div>
            </div>
            <% }) %>

            
        </div>
    </div>
        

        
</section>
<script src="/js/catalogScript.js">
</script>