<!-- Catalog Container -->
<section class="catalog-section">
    <div class="catalog-container">
    
        <div class="filter-container">
    
            <div class="title filters">
                <h4 class="search-filter-title"><i class='bx bxs-filter-alt' ></i>Search Filters</h4>
            </div>
    
            <div class="car-type filters">
                <h4>Car Type</h4>
                <label class="mcui-checkbox">
                    <input type="checkbox">
                    <div>
                    <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                        <title>checkmark-circle</title>
                        <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                    </svg>
                    </div>
                    <div>SUV</div>
                </label>
                
                <label class="mcui-checkbox">
                    <input type="checkbox" checked>
                    <div>
                    <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                        <title>checkmark-circle</title>
                        <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                    </svg>
                    </div>
                    <div>Sedan</div>
                </label>              
            </div>
    
            <div class="capacity filters">
                <h4>Capacity</h4>
                <label class="mcui-checkbox">
                    <input type="checkbox" checked>
                    <div>
                    <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                        <title>checkmark-circle</title>
                        <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                    </svg>
                    </div>
                    <div>3 to 5 passengers</div>
                </label> 
                <label class="mcui-checkbox">
                    <input type="checkbox" checked>
                    <div>
                    <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                        <title>checkmark-circle</title>
                        <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                    </svg>
                    </div>
                    <div>6 or more</div>
                </label> 
            </div>
    
            <div class="car-options filters">
                <h4>Car Options</h4>
                <label class="mcui-checkbox">
                    <input type="checkbox" checked>
                    <div>
                    <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                        <title>checkmark-circle</title>
                        <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                    </svg>
                    </div>
                    <div>4+ doors</div>
                </label> 
                <label class="mcui-checkbox">
                    <input type="checkbox" checked>
                    <div>
                    <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                        <title>checkmark-circle</title>
                        <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                    </svg>
                    </div>
                    <div>A/C</div>
                </label> 
                <label class="mcui-checkbox">
                    <input type="checkbox" checked>
                    <div>
                    <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                        <title>checkmark-circle</title>
                        <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                    </svg>
                    </div>
                    <div>Automaic</div>
                </label> 
            </div>
    
        </div>
    
        <div class="cars-catalog-container">
            <h4 class="results-text"><%= dataCount %> result(s)</h4>

            <% cars.forEach(function(car, index) { %>
            <div class="items">
                <div class="card-photo">
                    <img src="<%= car.img %>" alt="">
                </div>
                <div class="card-content">
                    <div class="text">
                        <span class="item-name"> <%= car.name %><img src="assets/png-icons/info.png" alt=""></span>
                        <p class="sub-text">or similar <%= car.carType %></p>
                        <div class="specs-list-container">
                            <p class="specs"><img src="/assets/png-icons/user.png" alt=""><%= car.capacity %></p>
                            <p class="specs"><img src="/assets/png-icons/briefcase.png" alt=""><%= car.bag %></p>
                            <p class="specs"><img src="/assets/png-icons/car-door.png" alt=""><%= car.doors %></p>
                            <p class="specs"><img src="/assets/png-icons/gearbox.png" alt=""><%= car.transmission %></p>
                            <p class="specs"><img src="/assets/png-icons/snowflake.png" alt="">
                                <% if(car.ac == true){ %>
                                    A/C
                                <% } else { %>
                                    None
                                <%  } %>
                                </p>
                        </div>
                        <div class="locations">
                            <div class="pick-up">
                                <p><img src="/assets/png-icons/building.png" alt=""><%= car.pickUpLocation %></p>
                            </div>
                            <div class="drop-off">
                                <p><img src="/assets/png-icons/building.png" alt=""><%= car.dropOffLocation%></p>
                            </div> 
                        </div>
                        <div class="line-horizontal"></div><!-- Line only -->
                        <div class="tooltips">
                            <div class="tooltip left">
                                <p class="tooltip sub-text"><i class='bx bx-check'></i>Free cancellation (48h)</p>
                                <p class="tooltip sub-text"><i class='bx bx-check'></i>Fuel policy: same-to-same</p>
                                <p class="tooltip sub-text"><i class='bx bx-check'></i>Unlimited mileage included</p>
                            </div>
                            <div class="tooltip right">
                                <p class="tooltip sub-text"><i class='bx bx-check'></i>Collision damage waiver</p>
                                <p class="tooltip sub-text"><i class='bx bx-check'></i>Third party coverage</p>
                                <p class="tooltip sub-text"><i class='bx bx-check'></i>Theft protection waiver</p>
                            </div>
                        </div>
                    </div>

                    

                    <div class="line-vertical"></div><!-- Line only -->
                    <div class="total-book">
                        <div class="price">
                            <span>&#8369;
                                <%= car.basePricePerMile%></span>
                                </span>
                            <p class="sub-text">Total</p>
                        </div>
                        <button>Book Now</button>
                    </div>
                </div>
            </div>
            <% }) %>

                    

        </div>
        
        <script src="/js/main.js">S</script>
</section>